@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
  .our-menu .list-item {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #btn-menu {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  header .navbar.active {
    right: 0;
    transition: 0.5s;
  }

  header .navbar a {
    display: block;
    color: #000;
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home .content h1 {
    font-size: 4.5rem;
    margin: 3rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .our-menu .list-item .item {
    width: 70%;
  }

  .product .list .item {
    width: 70%;
  }

  .product .list {
    justify-content: center;
    gap: 3rem;
  }

  .review .list-review .item {
    width: 70%;
  }

  .contact .box iframe,
  .contact .box .form {
    width: 100%;
  }

  .blog .list-blog .item {
    width: 70%;
  }

  .blog .list-blog .item .btn {
    width: 100%;
  }
  .about .content .btn {
    width: 50%;
    transform: translateX(50%);
  }

  .contact .form .btn {
    margin-bottom: 3rem;
  }

  footer .foot {
    flex-direction: column;
    gap: 2rem;
  }
  .review .list-review {
    justify-content: center;
    gap: 3rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header .search-form {
    width: 90%;
    right: 2rem;
  }
  .our-menu .list-item {
    flex-direction: column;
  }
  .our-menu .list-item .item {
    width: 100%;
  }

  .product .list .item {
    width: 100%;
  }
  .review .list-review .item {
    width: 100%;
  }

  .review .list-review {
    justify-content: center;
    gap: 3rem;
  }

  .contact .box iframe,
  .contact .box .form {
    width: 100%;
  }
  .contact .form .btn {
    margin-bottom: 2rem;
  }

  .blog .list-blog .item {
    width: 100%;
  }

  .blog .list-blog .item .btn {
    width: 100%;
  }

  .about .content .btn {
    width: 50%;
    transform: translateX(50%);
  }
}
