@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #btn-menu {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  header .navbar.active {
    right: 0;
    transition: 0.5s;
  }

  header .navbar a {
    display: block;
    color: #000;
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home .content h1 {
    font-size: 4.5rem;
  }

  .home .content h1 {
    font-size: 2.5rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .our-menu .list-item {
    justify-content: center;
  }

  .our-menu .list-item .item {
    width: 48%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header .search-form {
    width: 90%;
    right: 2rem;
  }
  .our-menu .list-item {
    flex-direction: column;
  }
  .our-menu .list-item .item {
    width: 100%;
  }
}
