@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&family=Sen:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.5 linear;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

:root {
  --primary-color: #ecc641;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* common */
.btn {
  display: inline-block;
  padding: 0.8rem 0.3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #fff;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.btn::after {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: left;
  cursor: pointer;
}

.btn:hover::after {
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  cursor: pointer;
}

section {
  padding: 2rem 7%;
}

h2.subtitle {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 7rem 0;
  color: var(--primary-color);
  text-align: center;
}

h2.subtitle span {
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: 0.5s;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

body {
  font-size: 1.6rem;
  background: #000;
}

/* Header */

header {
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: var(--border);
  font-size: 1.8rem;
}

header .logo {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

header .navbar a {
  color: #fff;
  padding: 0.5rem 1.5rem;
  position: relative;
}

header .navbar .active {
  color: var(--primary-color);
}

header .navbar a::before {
  position: absolute;
  content: "";
  height: 0.2rem;
  width: 0;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

header .navbar a:hover {
  color: var(--primary-color);
}

header .navbar a:hover::before {
  width: 100%;
}

header .icon {
  display: flex;
}

header .icon i {
  color: #fff;
  padding: 0 0.7rem;
}

header .icon i:hover {
  color: var(--primary-color);
}

/* search */
#btn-menu {
  display: none;
}

header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  transform: scaleY(0);
  transform-origin: top;
}

header .search-form.active {
  transform: scaleY(1);
  transition: 0.5s;
}

header .search-form input {
  width: 100%;
  height: 100%;
  color: var(--black);
  font-size: 1.6rem;
  padding: 1rem;
  text-transform: none;
  border: none;
}

header .search-form label i {
  color: var(--black);
  cursor: pointer;
  padding: 0 1.5rem;
}

header .search-form label i:hover {
  color: var(--primary-color);
}

/* cart */
header .cart-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
}

header .cart-container.active {
  right: 0;
  transition: 0.5s;
}

header .cart-container .cart-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-left: 1.2rem;
}

header .cart-container .total {
  margin-left: 2rem;
  font-weight: 700;
}

header .cart-container .img-cart {
  width: 7rem;
  height: 10rem;
}

header .cart-container .cart-item i {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

header .cart-container .cart-item i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.cart-container .cart-item .price {
  color: var(--primary-color);
  font-size: 1.4rem;
}

header .cart-container .btn {
  width: 90%;
  text-align: center;
  margin: 2rem;
}

/* Banner */
.banner {
  width: 100vw;
  height: calc(100vh - 8.7rem);
  margin-top: 8.7rem;
}

.banner .img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home */
.icon i:hover {
  scale: 1.5;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/banner.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content .desc span {
  color: var(--primary-color);
  font-weight: 600;
}

.home .content h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
}

.home .content .desc {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #ffffff;
}

.home .content .btn {
  padding: 1.6rem 4.7rem;
  margin-top: 4.2rem;
}

/* about */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: flex-start;
}

.about .image {
  width: 50%;
  flex: 1 1 45rem;
}

.about .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .content {
  flex: 1 1 45rem;
}

.about .content .desc {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 2rem;
  transition: 0.5s;
  text-align: justify;
}

.about .content .btn {
  padding: 1.2rem;
  text-align: center;
}

/* Menu */
.our-menu .list-item {
  display: flex;
  gap: 5rem;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-menu .list-item .item {
  width: 30%;
  border: 1px solid #fff;
  padding: 6.1rem 0;
  text-align: center;
  transition: .5s;
}

.our-menu .list-item .item:hover {
  background-color: #fff;
  color: #000;
}

.our-menu .list-item .item .img-menu {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
}

.our-menu .list-item .item .name {
  margin: 1.4rem 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  text-transform: capitalize;
}

.our-menu .list-item .item .price {
  font-weight: 500;
  font-size: 3.2rem;
}

.our-menu .list-item .item .btn {
  width: 65%;
  padding: 1rem 3rem;
}

.our-menu .list-item .item .price span {
  font-size: 1.6rem;
  text-decoration-line: line-through;
}

.our-menu .list-item .item h4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  text-transform: capitalize;
}

/* Product */
.product .list {
  display: flex;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product .list .item {
  width: 30%;
  border: 1px solid #fff;
  padding: 6.1rem 0;
  text-align: center;
}

.product .list .item .list-icon img {
  padding: 1.3rem;
  border: 1px solid #fff;
}

.product .list .item .list-icon img:hover {
  cursor: pointer;
}

.product .list .item .img-prod {
  width: 12.7rem;
  height: 23.4rem;
  object-fit: cover;
  margin-bottom: 1.1rem;
}

.product .list .item .heading {
  font-weight: 700;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

.product .list .item button {
  padding: 1rem 2rem;
}

.product .list .item .price {
  margin-bottom: 1rem;


}

/* Review */
.review .list-review {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  align-items: flex-start;
  flex-wrap: wrap;
}

.review .list-review .item {
  width: 30%;
  border: 1px solid #fff;
  padding: 0 4.4rem;
  transition: 0.5s;
  overflow: hidden;
}

.review .list-review .item .desc {
  margin: 2.4rem 0;
  top: -100%;
  position: relative;
  transition: 0.5s;
  height: 0;
  opacity: 0;
}

.review .list-review .item .avt {
  width: 12.6rem;
  height: 12.6rem;
  object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
}

.review .list-review .item:hover .desc {
  height: 16.8rem;
  opacity: 1;
}

.review .list-review .item h4 {
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: capitalize;
  margin: 2.4rem 0;
}

.review .list-review .item .rating {
  margin-bottom: 3.6rem;
}

/* Contact */
.contact {
  color: #fff;
}

.contact h4 {
  padding-top: 4.3rem;
  padding-bottom: 2.9rem;
}

.contact .box {
  display: flex;
  flex-wrap: wrap;
}

.contact .form {
  text-align: center;
  width: 50%;
  background: #807d7d;
  padding: 0 4.6rem;
}

.contact .form .box-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.9rem;
}

.contact .form .head {
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}

.contact .form label {
  width: 100%;
  border: 1px solid #fff;
  padding-left: 2rem;
}

.contact .form label input {
  width: 93%;
  height: 6rem;
  background: transparent;
  padding-left: 2rem;
  color: #fff;
}

.contact .form label input::placeholder {
  color: #ccc;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
}

.contact .form .btn {
  padding: 1.6rem 3.2rem;
}

/* Blog */
section#Blog {
  padding-bottom: 10rem;
}

.blog .list-blog {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-between;
}

.blog .list-blog .item {
  width: 31%;
  border: 1px solid #fff;
}

.blog .list-blog .item img {
  width: 100%;
  height: 29.2rem;
  object-fit: cover;
}

.blog .list-blog .item h4 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-top: 2.2rem;
  margin-bottom: 1.1rem;
}

.blog .list-blog .item .box {
  padding: 2.2rem 2.5rem;
}

.blog .list-blog .item .subtitle {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--primary-color);
  margin-bottom: 1.1rem;
}

.blog .list-blog .item .desc {
  margin-bottom: 1.1rem;
}

.blog .list-blog .item .btn {
  padding: 1.6rem 4.4rem;
  text-align: center;
}

/* footer */
footer .foot {
  display: flex;
  width: 100vw;
  background-color: var(--primary-color);
  justify-content: center;
  gap: 5rem;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  padding: 3rem;
}

footer .icon {
  display: flex;
  gap: 2px;
}

footer .icon a {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 2px;
  transition: 0.5s;
}

footer .icon i {
  color: var(--primary-color);
}

footer .icon i:hover {
  scale: 0;
}

footer .icon a:hover {
  transform: translateY(-3px);
}

footer a {
  color: #fff;
}

footer a i {
  margin-right: 2px;
}
